.conteiner {
	max-width: 1140px;
	margin: 0 auto;
	h1, h2 {
		color: $color_h;
		font-family: "Oswald";
	}
	h1 {
		font-size: 2.5rem;
		line-height: 3.125rem;
		text-transform: uppercase;
	}
	h2 {
		padding-bottom: 3%;
		font-size: 1.5rem;
		line-height: 1.875rem;
	}
	p {
		color: $color_p;
		font-size: 1.125rem;
		line-height: 1.5rem;
		font-family: "Dosis";
		margin-bottom: 5%;
	}
	img {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
		width: 100%;
		transition: all 0.8s ease;
	}
	.holder {
		display: flex;
		justify-content: center;
		padding: 2% 5%;
	}
	.butt, .centralButt {
		text-decoration: none;
		border-radius: 40px;
   		transition: all 0.8s ease;
   		text-transform: uppercase;	
	}
	.butt {
		display: inline;
		padding-top: 5%;
		color: $color_button;
		background-color: $color_but_bg;
		font-family: "Oswald";
		font-size: 1rem;
		line-height: 1.375rem;
		padding: 2% 3%;
		&:hover {
			background-color: $color_h;
		}
	}
}
.section {
	.bodyBackground, .bodyBackgroundLeft {
		background-color: $color_bg;
	}
}
.section {
	.bodyBackground {
		box-shadow: -10px 13px 35px 4px rgba(0,0,0,0.2);
	}
}
.section {
	.bodyBackgroundLeft {
		background-color: $color_bg;
		box-shadow: 10px 13px 35px 4px rgba(0,0,0,0.2);
	}	

	.content_body {
				padding: 5% 20% 5% 10%;
			}	
	.central_button {
		display: flex;
		justify-content: center;
		margin-top: 5%;
		margin-bottom: 5%;
		transition: all 0.8s ease;
		.centralButt {
			padding: 2% 15%;
			border: 2px solid $color_but_bg;
			font-family: "Oswald";
			font-size: 1rem;
			line-height: 1.375rem;
			color: $color_but_bg;
			.arr:before {
				margin-right: 10px;
				content: "\27A4";
			} 
   			&:hover {
				   background-color: $color_but_bg;
				   color: $color_button;
				   border-color: $color_h;
				   .arr {
					   color: $color_button;
				} 
   			}
		}  
	}   
}
@media (min-width: 768px) {
	.content_section {
		display: flex;
		position: relative;
		.content_img {
			width: 50%;
			margin-bottom: 5%;
		}
		.content_body {
			z-index: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}
		.bodyBackground {
			margin-top: 4%;
			width: 55%;
			height: 80%;
			left: 45%;
			z-index: 1;
			position: absolute;
		}
		.bodyBackgroundLeft {
			margin-top: 4%;
			width: 55%;
			height: 80%;
			left: 0;
			z-index: 1;
			position: absolute;
		}
	}
	div.content_section:nth-child(2n) {
		flex-direction: row-reverse;
	}
	
  }