.gallery {
	background-color: $color_gallery;
}
.galleryContent {
	display: flex;
	justify-content: space-between;
	padding: 0 5%;
	flex-wrap: wrap;
	.galleryBlock {
		display: flex;
	 	flex-direction: column;
	 	align-items: center;
		width: 48%;
		padding-bottom: 5%;
		

		.gallery_img {
			position: relative;
			width: 100%;

		img {
			max-width: 100%;
			width: 100%;

		}
		.bgBackground {
			display: flex;
			align-items: center;
			padding: 0 30%;
			text-align: center;
		position: absolute;
		background: rgba(21,51,68,0.6);
		width: 100%;
		height: 100%;
		opacity: 0;
		top: 0;
		transition: all 0.8s ease;
		p {
			color: $color_button;
		}
	}
		&:hover {
   				.bgBackground {
					opacity: 1;

				}
   			}
	}
	.galleryButt {
			padding: 2% 20%;
			background-color: $color_but_bg;
			border-radius: 40px;
			display: inline-block;
   			vertical-align: middle;
   			transition: all 0.8s ease;

   			&:hover {
   				background-color: $color_h;
   			}
			}
	h2 {
		margin-top: 5%;
	}
	}
	 
	
}