.conteiner h1, .conteiner h2 {
  color: #7ea2b3;
  text-transform: uppercase;
  font-family: "Oswald"; }

.conteiner h1 {
  font-size: 2.5rem;
  line-height: 3.125rem; }

.conteiner h2 {
  padding-bottom: 3%;
  font-size: 1.5rem;
  line-height: 1.875rem; }

.conteiner p {
  color: #6d6d6d;
  font-size: 1.125rem;
  line-height: 1.5rem; }

.conteiner .butt {
  color: #fff;
  text-decoration: none;
  font-family: "Oswald";
  font-size: 1rem;
  line-height: 1.375rem; }

.conteiner .button {
  margin-top: 5%; }
  .conteiner .button span {
    padding: 2% 3%;
    background-color: #97b621;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.8s ease; }
    .conteiner .button span:hover {
      background-color: #7ea2b3; }

.section {
  padding: 2% 5%; }
  .section .holder {
    display: flex;
    justify-content: center;
    padding: 2% 5%; }
  .section .content_body {
    padding: 5% 20% 5% 10%;
    background-color: #f6fcff; }
  .section .content_img img {
    width: 50%;
    height: auto; }
  .section .central_button {
    display: flex;
    justify-content: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
